@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*header*/

.header {
  height: 4.7vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.6vh 2.7vw 0 2.7vw;
}

.hero {
  height: 95.3vh;
  width: 100vw;
  max-width: 100%;
  padding-top: 32.5vh;
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background: url(../images/header-bg.jpg) center no-repeat;
  background-size: cover;
}

.logo {
  font-style: normal;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 2.1rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}

.header__burger {
  display: block;
  height: 36px;
  width: 36px;
  background: url(../images/burger-menu.svg) center no-repeat;
  background-size: contain;
}

.hero__title {
  font-style: normal;
  font-weight: normal;
  font-size: 9.4rem;
  line-height: 11.4rem;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-bottom: 8vh;
}

.hero__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

/* about */

.about {
  width: 100vw;
  max-width: 100%;
  min-height: 86.9vh;
  background: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  gap: 6.9vh 0;
  padding: 13.6vh 11vw 0 13vw;
}

.about__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.1em;
  white-space: nowrap;
  margin-bottom: 4vh;
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  min-height: 286px;
  max-width: 348px;
  border-radius: nullpx;
}

.about__img-container {
  max-width: 591px;
  max-height: 457px;
  display: grid;
  grid-template-areas:
    'first third'
    'second third';
  grid-template-columns: minmax(123px, auto) minmax(169px, auto);
  grid-template-rows: minmax(92px, auto) minmax(127px, auto);
  grid-gap: 25px 22px;
  margin-bottom: 12vh;
}

.about__img {
  height: 186px;
  width: 240px;
  border-radius: 30px;
  object-fit: cover;
  grid-area: first;
}

.about__img_big {
  grid-area: second;
  height: 246px;
}

.about__img_biggest {
  grid-area: third;
  width: 326px;
  height: 457px;
}

/* subscribe */

.subscribe {
  width: 100vw;
  max-width: 100%;
  height: 625px;
  color: #fff;
  background: url(../images/subscribe-bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.subscribe__title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.1em;
  margin-bottom: 34px;
}

.subscribe__text {
  width: 721px;
  height: 110px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 110px;
}

.subscribe__form {
  width: 335px;
  height: 126px;
}

.subscribe__form-input {
  height: 37px;
  width: 335px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 25px;
}

.subscribe__form-input::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #fff;
}

.subscribe__form-btn {
  width: 335px;
  height: 64px;
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 50px 5px #813434;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* footer */

.footer {
  width: 100vw;
  max-width: 100%;
  height: 89px;
  background: #000000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.footer__social-menu {
  height: 24px;
  width: 116px;
  display: flex;
  justify-content: space-between;
}

.footer__ig {
  display: block;
  background: url(../images/instagram.svg) center no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
}

.footer__fb {
  display: block;
  background: url(../images/facebook.svg) center no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
}

.footer__twitter {
  display: block;
  background: url(../images/twitter.svg) center no-repeat;
  background-size: contain;
  height: 24px;
  width: 24px;
}

.support-email {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}
