@media (max-width: 1059px) {
  .header__title {
    font-size: 11vw;
    line-height: 13.5vw;
    letter-spacing: 0.3em;
  }
}

@media (max-width: 768px) {
  /* header */

  .header {
    height: 852px;
    background-color: #000;
  }

  .header__title {
    font-size: 11vw;
    line-height: 13.5vw;
    letter-spacing: 0.3em;
  }

  /* about */

  .about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 59px;
    height: 919px;
    padding: 30px 14vw 0 14vw;
  }

  .about__text-wrapper {
    max-width: 591px;
  }

  .about__img-container {
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: 0.8fr 1.2fr;
  }

  .about__title {
    margin-bottom: 37px;
  }

  .about__text {
    width: 591px;
    height: 176px;
  }

  .about__img {
    width: 29.5vw;
    height: 23vw;
  }

  .about__img_big {
    width: 29vw;
    height: 30vw;
  }

  .about__img_biggest {
    width: 40vw;
    height: 56vw;
  }

  /* subscribe */

  .subscribe__text {
    width: 591px;
    height: 132px;
  }
}

@media (max-width: 576px) {
  /* header */

  .header {
    height: 621px;
  }

  .header__nav {
    padding: 0 24px 0 24px;
    margin-bottom: 229px;
  }

  .header__title {
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.3em;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
  }

  /* about */

  .about {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 30px 24px 0 24px;
    min-height: 1442px;
    gap: 47px;
  }

  .about__text-wrapper {
    height: 362px;
    width: 292px;
  }

  .about__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 28px;
  }

  .about__text {
    width: 292px;
    height: 300px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  .about__img-container {
    display: flex;
    flex-flow: column;
  }

  .about__img {
    object-fit: cover;
    width: 292px;
    height: 186px;
  }

  .about__img_big {
    height: 249px;
  }

  .about__img_biggest {
    height: 457px;
  }

  /* subscirbe */

  .subscribe {
    height: 608px;
  }

  .subscribe__title {
    font-size: 28px;
    line-height: 34px;
  }

  .subscribe__text {
    width: 292px;
    height: 220px;
    font-size: 16px;
    line-height: 20px;
    text-align: unset;
  }

  .subscribe__form {
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  .subscribe__form-input {
    width: 292px;
  }

  .subscribe__form-btn {
    width: 292px;
  }

  /* footer */

  .footer {
    height: 213px;
    flex-flow: column;
    justify-content: space-around;
  }

  .support-email {
    font-size: 16px;
    line-height: 20px;
  }
}
